# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Spyder             |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

_This a simple arithmetic expression to mutiply then add integers_

In [12]:
(3*4)+5

17